{% extends "inicio/encabezado.html" %} {%block titulo%}Comentarios {%endblock%}
{%block imagen%} {%load static%} {%static 'inicio/images/lista-de-verificacion.png'%}
{%endblock%}
{% block texto %}
Lista <span>Comentarios</span>
{% endblock %}


{% block contenido%}


<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h3>Comentarios <small>Lista de Comentarios </small></h3>
  </div>
</div>
<!-- /Encabezado-->
{%block nav%}
<div class="breadcrumb-line">
  <ul class="breadcrumb">

    <a href="{%url 'Principal'%}">
      {%if request.path == '/' %}
      Principal
      {%else%}
      Principal{{request.path}}
      {%endif%}
    </a>
  </ul>
</div>
{%endblock%}
<s></s>

<table class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>Mensaje</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% if comentarios %}
    {% for comentario in comentarios %}
    <tr>
      <td class="muted">{{comentario.mensaje}}</td>
      <td class="muted"><a href="{% url 'ConsultaIndividual' comentario.id  %}">Editar</a></td>
      <td class="text-center"><a href="{% url 'Eliminar' comentario.id  %}">Eliminar</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td class="muted">Sin comentarios</td>
    </tr>
    {% endif %}
  </tbody>

</table>

{% endblock %}